<div class="map-container">
  <div class="map-frame">
    <div id="mapp"></div>
  </div>
</div>

<div class="controls-container">
  <div class="row">
    <div class="col-2">
      <button class="btn btn-outline-primary" (click)="loadPresetValues()">
        Load Preset Values
      </button>
    </div>
    <div class="col-2">
      <button
        class="btn btn-primary"
        (click)="pause()"
        [disabled]="currentMotion == null"
      >
        {{ this.isCurrentMotionPaused ? "Resume" : "Pause" }}
      </button>
    </div>
    <div class="col-2">
      <button class="btn btn-secondary" (click)="reset()">Reset</button>
    </div>
  </div>

  <div>
    <div class="row">
      <form [formGroup]="flightPathFormGroup" class="col-4 mt-3">
        <div class="row">
          <div class="col">
            <div class="ml-3 col-12">
              <input
                type="text"
                class="form-control ml-3"
                formControlName="lat1"
                placeholder="Latitude"
              />
            </div>
            <div class="ml-3 col-12">
              <input
                type="text"
                class="form-control ml-3"
                formControlName="long1"
                placeholder="Longitude"
              />
            </div>
            <div class="ml-3 col-12">
              <input
                type="text"
                class="form-control ml-3"
                formControlName="timeSeries1"
                placeholder="timeseries in ISO 8601"
              />
            </div>
          </div>
          <div class="col">
            <div class="col-12">
              <input
                type="text"
                class="form-control ml-3"
                formControlName="lat2"
                placeholder="Latitude"
              />
            </div>
            <div class="col-12">
              <input
                type="text"
                class="form-control ml-3"
                formControlName="long2"
                placeholder="Longitude"
              />
            </div>
            <div class="ml-3 col-12">
              <input
                type="text"
                class="form-control ml-3"
                formControlName="timeSeries2"
                placeholder="timeseries in ISO 8601"
              />
            </div>
          </div>
        </div>
      </form>
      <form
        [formGroup]="extraFlifghtPathFormGroup"
        class="mt-3 col-8 extra-path-container"
      >
        <div class="row">
          <div formArrayName="lat" class="col-3 mt-2">
            <div *ngFor="let lat of lat.controls; let i = index">
              <input
                [formControlName]="i"
                class="form-control"
                placeholder="extra latitude"
              />
            </div>
          </div>
          <div formArrayName="long" class="col-3 mt-2">
            <div *ngFor="let long of long.controls; let i = index">
              <input
                [formControlName]="i"
                class="form-control"
                placeholder="extra longitude"
              />
            </div>
          </div>
          <div formArrayName="timeSeries" class="col-6 mt-2">
            <div *ngFor="let timeSeries of timeSeries.controls; let i = index">
              <div class="row">
                <div class="col-8">
                  <input
                    [formControlName]="i"
                    class="form-control"
                    placeholder="extra timeseries"
                  />
                </div>
                <button
                  class="btn btn-outline-danger col-2"
                  (click)="removeFlightPathData(i)"
                >
                  remove
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-2 mt-3">
        <button
          class="btn btn-success"
          (click)="calculate()"
          [disabled]="
            !this.flightPathFormGroup.valid || this.isCurrentMotionInProgress
          "
        >
          Calculate
        </button>
      </div>
      <div class="col-2 mt-3">
        <button
          class="btn btn-info"
          (click)="addFlightPathData()"
          [disabled]="
            this.currentMotion != null || this.isCurrentMotionInProgress
          "
        >
          Add Flight Path
        </button>
      </div>
      <!-- <div class="col-2 mt-3">
        <button
          class="btn btn-info"
          (click)="uploadData()"
          [disabled]="
            this.currentMotion != null || this.isCurrentMotionInProgress
          "
        >
          Upload
        </button>
      </div> -->

      <div class="text-center col-2">
        <input class="form-control" type="file" (change)="onChange($event)" />
      </div>
      <div class="col-2">
        <button (click)="onUpload()" class="btn btn-success">Upload</button>
      </div>
    </div>
  </div>
</div>
